# NPM & dependencies
node_modules
npm-debug.log

# Github
.git
.github
.gitattributes
.gitignore
**/.gitkeep

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Etc
LICENSE
linter-output.txt
*.md
.env.example
.config.example.js
.markdownlint.json
tsconfig.json # Only used to generate types in development
TODO # My personal todo list